{% extends "Main.html" %}

{% block content %}

<div style="position:relative; width:100%;">

    <button onclick="toggleForm()"
            style="
            position:absolute;
            right:80px;
            top:-290px;
            padding:8px 16px;
            background:#f5ebeb;
            color:black;
            border:none;
            border-radius:6px;
            cursor:pointer;">
        Update
    </button>

</div>

<h2 style="text-align:center;">Book Your Table</h2>

<div id="bookingForm" class="booking-container" style="display:none; text-align:center;">

    <form method="POST">
        {% csrf_token %}

        <label>Name</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Date</label><br>
        <input type="date" name="date" required><br><br>

        <label>Time</label><br>
        <input type="time" name="time" required><br><br>

        <label>Guests</label><br>
        <input type="number" name="guests" required><br><br>

        <button type="submit">Book Table</button>

    </form>

</div>

<script>
function toggleForm() {
    var form = document.getElementById("bookingForm");
    form.style.display = form.style.display === "none" ? "block" : "none";
}
</script>

{% endblock %}