<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-color: #ffeaea;
      }

      .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      footer {
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <div class="page-container">
      {%include 'Navbar.html'%} {%include 'heroSection.html'%} {%block content%}
      {%endblock%} {%include 'footer.html'%}
    </div>
  </body>
</html>
