{% extends 'login/Log.html' %}

{% block content %}
<div class="container">
    <div class="slide" id="slide">
        <h2>Restaurant Portal</h2>
        <button id="signinBtn">Sign In</button>
        <button id="signupBtn">Sign Up</button>
        <a href="{% url 'selectrole' %}" class="back">← Back</a>
    </div>
    <div class="right-panel">
        <h2>Restaurant Sign In</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="submit-btn">Sign In</button>
        </form>
    </div>
    <div class="right-panel">
        <h2>Create Restaurant Account</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const slide = document.getElementById("slide")
    const signin = document.getElementById("signinBtn")
    const signup = document.getElementById("signupBtn")
    signup.onclick = () => {
        slide.classList.add("right")
    }
    signin.onclick = () => {
        slide.classList.remove("right")
    }
</script>
{% endblock %}